.form {
  font-family: inherit;

  &__input {
    font-family: inherit;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid $color-black;
    resize: none;
  }

  &__input:focus {
    outline: none;
  }

  &__label {
    font-size: 1.6rem;
  }
}